In [1]:
prices = [1.09,23.56,57.84,4.56,6.78]
TAX_RATE = 0.08
def get_price_with_tax(price):
    return price * (1+TAX_RATE)

In [2]:
res = map(get_price_with_tax,prices)

In [3]:
list(res)

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

# SAME USING LIST COMPREHENSION

In [4]:
final_prices = [get_price_with_tax(price) for price in prices]
final_prices

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [6]:
[(x,y) for x in [1,2,3] for y in [1,2,3] if x != y]

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [7]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

In [8]:
[[row[i] for row in matrix] for i in range(4) ]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [12]:
list((matrix))

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [10]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

This differs from the pop() method which returns a value. The del statement can also be used to remove slices from a list or clear the entire list (which we did earlier by assignment of an empty list to the slice)

In [13]:
a = [-1,1,66.25,333,333,1234.5]
del a[0]

In [15]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [16]:
del a[:]
a

[]

In [17]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for v,i in knights.items():
    print(v,i)

gallahad the pure
robin the brave

To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

In [18]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

Create a list of squares for numbers 1 through 5.

In [1]:
squares = [x*x for x in range(1,6)]
squares

[1, 4, 9, 16, 25]

Generate a list of numbers from 1 to 10.

In [3]:
numbers = [i for i in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Create a list of the first 5 even numbers.

In [4]:
even_numbers = [i for i in range(2, 11, 2)]
even_numbers

[2, 4, 6, 8, 10]

 Generate a list of the first 5 odd numbers.

In [5]:
odd_numbers = [i for i in range(1, 10, 2)]
odd_numbers

[1, 3, 5, 7, 9]

Create a list of the first 5 multiples of 3.

In [7]:
multiple_of_3 = [i * 3 for i in range(1,6)]
multiple_of_3

[3, 6, 9, 12, 15]

Generate a list of squares for even numbers between 1 and 10.

In [11]:
squares_of_even_numbers = [x**2 for x in range(2, 11) if x%2 == 0]
squares_of_even_numbers

[4, 16, 36, 64, 100]

Create a list of lengths of each word in a given list ["apple", "banana", "cherry"]

In [14]:
fruits = ['apple', 'banana', 'cherry']
length_list = [len(fruit) for fruit in fruits]
length_list

[5, 6, 6]

Generate a list of the first 10 Fibonacci numbers.

In [15]:
fib = [0,1]
[fib.append(fib[-1] + fib[-2]) for  _ in range(8)]
fib

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Create a list of all uppercase letters in a given string text = "Hello World!".

In [19]:
text='Hello World!'
upper_words = [char for char in text if char.isupper()]
upper_words

['H', 'W']

Generate a list of tuples (number, square) for numbers 1 through 5.

In [20]:
number_square = [(x, x**2) for x in range(1, 6)]
number_square

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

Create a list of prime numbers between 1 and 50.

In [21]:
prime_numbers = [x for x in range(2, 51) if all (x % y != 0 for y in range (2, int(x**0.5) + 1))]
prime_numbers

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Generate a list of all possible pairs (i, j) where i is from 1 to 3 and j is from 4 to 6.

In [22]:
pairs = [ (i,j) for i in range(1,4) for j in range(4,7)]
pairs

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

Create a list of strings representing the numbers 1 to 10, but replace multiples of 3 with "Fizz", multiples of 5 with "Buzz", and multiples of both with "FizzBuzz".

In [23]:
fizz_numbers = ['FizzBuzz' if x%3 == 0 and x%5 == 0 else 'Fizz' if x%3 == 0 else 'Buzz' if x%5 == 0 else str(x) for x in range(1,11)]
fizz_numbers

['1', '2', 'Fizz', '4', 'Buzz', 'Fizz', '7', '8', 'Fizz', 'Buzz']

Create a list of lists, where each sublist contains numbers from 1 to n for n in range 1 to 6.

In [24]:
sublist = [[j for j in range(1,i+1)] for i in range(1,6)]
sublist

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5]]