In [1]:
fruits = ['apple','banana','orange','watermelon','mango','cherry','pineapple','kiwi']

In [2]:
[i for i in fruits if i[0]!='a']

['banana', 'orange', 'watermelon', 'mango', 'cherry', 'pineapple', 'kiwi']

In [3]:
[1 if 'a' in i else 0 for i in fruits]

[1, 1, 1, 1, 1, 0, 1, 0]

In [4]:
cars = ['Maruti Suzuki Swift','Toyota Innova Crista','Maruti Suzuki Wagon R','Tata Punch EV Plus','Mercedes Benz S Class','Mercedes Benz E Class','Mercedes Benz G Class','Toyota Innova Deluxe']

In [6]:
updated_cars = [" ".join(i.split()[0:2]) for i in cars]
updated_cars

['Maruti Suzuki',
 'Toyota Innova',
 'Maruti Suzuki',
 'Tata Punch',
 'Mercedes Benz',
 'Mercedes Benz',
 'Mercedes Benz',
 'Toyota Innova']

In [11]:
updated_cars2 = ["Toyota" if 'Toyota' in i else " ".join(i.split()[2:4]) if 'Mercedes' in i else " ".join(i.split()[0:2]) for i in cars]

In [12]:
updated_cars2

['Maruti Suzuki',
 'Toyota',
 'Maruti Suzuki',
 'Tata Punch',
 'S Class',
 'E Class',
 'G Class',
 'Toyota']

In [14]:
dict = {
    'name': ['Anil','Bandenawaz','Nikhil'],
    'score': [92,95,91]
}

In [15]:
dict

{'name': ['Anil', 'Bandenawaz', 'Nikhil'], 'score': [92, 95, 91]}

In [16]:
dict.keys()

dict_keys(['name', 'score'])

In [17]:
dict.values()

dict_values([['Anil', 'Bandenawaz', 'Nikhil'], [92, 95, 91]])

In [19]:
type(dict.items())

dict_items

In [21]:
dict['name']
dict.get('name')

['Anil', 'Bandenawaz', 'Nikhil']