# Dictionary comprehension Assignment

1. Square Values Dictionary:
    Create a dictionary where the keys are numbers from 1 to 10,
    and the values are the squares of the keys.

In [4]:
squares = {key: value ** 2 for key,value in enumerate(range(1,11),1)}

In [5]:
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

2. Filter Even Squares:
Given a dictionary with numbers from 1 to 20 as keys and their squares as values, use dictionary comprehension to create a new dictionary with only the keys that have even square values.

In [7]:
numbers = {key: value ** 2 for key,value in enumerate(range(1,21),1)}
numbers

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [8]:
{key: value for key,value in numbers.items() if value%2==0}

{2: 4,
 4: 16,
 6: 36,
 8: 64,
 10: 100,
 12: 144,
 14: 196,
 16: 256,
 18: 324,
 20: 400}

3. Swap Keys and Values: Create a dictionary where the keys and values are swapped
from an existing dictionary. The original dictionary has country
names as keys and their capitals as values.

In [9]:
countries = ["India", "United States", "Canada", "Australia", "United Kingdom", "France", "Germany", "Japan", "Brazil", "South Africa"]
capitals = ["New Delhi", "Washington, D.C.", "Ottawa", "Canberra", "London", "Paris", "Berlin", "Tokyo", "Brasilia", "Pretoria"]

In [11]:
countries_capitals = { key: value for key,value in zip(countries,capitals) }
countries_capitals

{'India': 'New Delhi',
 'United States': 'Washington, D.C.',
 'Canada': 'Ottawa',
 'Australia': 'Canberra',
 'United Kingdom': 'London',
 'France': 'Paris',
 'Germany': 'Berlin',
 'Japan': 'Tokyo',
 'Brazil': 'Brasilia',
 'South Africa': 'Pretoria'}

In [16]:
capitals_countries = { value: key for key,value in countries_capitals.items() }
capitals_countries = { key: value for value,key in countries_capitals.items() }
capitals_countries

{'New Delhi': 'India',
 'Washington, D.C.': 'United States',
 'Ottawa': 'Canada',
 'Canberra': 'Australia',
 'London': 'United Kingdom',
 'Paris': 'France',
 'Berlin': 'Germany',
 'Tokyo': 'Japan',
 'Brasilia': 'Brazil',
 'Pretoria': 'South Africa'}

4. Character Frequency Count:
Given a string, use dictionary comprehension to count the
frequency of each character in the string.

In [17]:
string = "abracadabra12345abracadabra"

In [23]:
{key: string.count(value) for key,value in zip(string,string) }

{'a': 10,
 'b': 4,
 'r': 4,
 'c': 2,
 'd': 2,
 '1': 1,
 '2': 1,
 '3': 1,
 '4': 1,
 '5': 1}

In [29]:
print(set(string))
{char: string.count(char) for char in set(string)}

{'r', '3', 'a', '2', '5', 'd', '4', 'c', '1', 'b'}

{'r': 4,
 '3': 1,
 'a': 10,
 '2': 1,
 '5': 1,
 'd': 2,
 '4': 1,
 'c': 2,
 '1': 1,
 'b': 4}

5. Dictionary of Lengths:
Given a list of words, use dictionary comprehension to create a
dictionary where the keys are the words and the values are the
lengths of those words.

In [34]:
words = ["Hypothetical", "Ocean", "Journey", "Mountain", "Forest", "Sunflower", "Python", "Elephant", "Programming", "Uncharacteristically"]

In [35]:
{key: len(key) for key in words}

{'Hypothetical': 12,
 'Ocean': 5,
 'Journey': 7,
 'Mountain': 8,
 'Forest': 6,
 'Sunflower': 9,
 'Python': 6,
 'Elephant': 8,
 'Programming': 11,
 'Uncharacteristically': 20}

# Tuple Comprehension Assignments

6. Generate Coordinate Pairs:
Create a list of tuples representing coordinate pairs (x, y) where
x ranges from 0 to 5 and y ranges from 0 to 5.

In [38]:
coordinate_pairs = tuple((x,y) for x in range(0,6) for y in range(0,6))
coordinate_pairs

((0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5))

7. Flatten a Matrix:
Given a 2D matrix represented as a list of lists, use tuple
comprehension to flatten the matrix into a list of tuples.

In [39]:
matrix = [[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]]

In [41]:
flatten_matrix = tuple(x for ele in matrix for x in ele)
flatten_matrix

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

8. Tuples of Even Numbers:
Generate a tuple of all even numbers from 1 to 20 using tuple
comprehension.

In [45]:
even_numbers = tuple(x for x in range(2,21,2))
even_numbers = tuple(x for x in range(1,21) if x%2==0)
even_numbers

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

9. Cartesian Product of Sets:
Given two sets, use tuple comprehension to generate a list of
tuples representing the Cartesian product of the sets.

In [46]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set2 = {'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'}

In [48]:
cartesian_product = tuple((x,y) for x in set1 for y in set2)
cartesian_product

((1, 'e'),
 (1, 'a'),
 (1, 'j'),
 (1, 'd'),
 (1, 'g'),
 (1, 'c'),
 (1, 'h'),
 (1, 'i'),
 (1, 'b'),
 (1, 'f'),
 (2, 'e'),
 (2, 'a'),
 (2, 'j'),
 (2, 'd'),
 (2, 'g'),
 (2, 'c'),
 (2, 'h'),
 (2, 'i'),
 (2, 'b'),
 (2, 'f'),
 (3, 'e'),
 (3, 'a'),
 (3, 'j'),
 (3, 'd'),
 (3, 'g'),
 (3, 'c'),
 (3, 'h'),
 (3, 'i'),
 (3, 'b'),
 (3, 'f'),
 (4, 'e'),
 (4, 'a'),
 (4, 'j'),
 (4, 'd'),
 (4, 'g'),
 (4, 'c'),
 (4, 'h'),
 (4, 'i'),
 (4, 'b'),
 (4, 'f'),
 (5, 'e'),
 (5, 'a'),
 (5, 'j'),
 (5, 'd'),
 (5, 'g'),
 (5, 'c'),
 (5, 'h'),
 (5, 'i'),
 (5, 'b'),
 (5, 'f'),
 (6, 'e'),
 (6, 'a'),
 (6, 'j'),
 (6, 'd'),
 (6, 'g'),
 (6, 'c'),
 (6, 'h'),
 (6, 'i'),
 (6, 'b'),
 (6, 'f'),
 (7, 'e'),
 (7, 'a'),
 (7, 'j'),
 (7, 'd'),
 (7, 'g'),
 (7, 'c'),
 (7, 'h'),
 (7, 'i'),
 (7, 'b'),
 (7, 'f'),
 (8, 'e'),
 (8, 'a'),
 (8, 'j'),
 (8, 'd'),
 (8, 'g'),
 (8, 'c'),
 (8, 'h'),
 (8, 'i'),
 (8, 'b'),
 (8, 'f'),
 (9, 'e'),
 (9, 'a'),
 (9, 'j'),
 (9, 'd'),
 (9, 'g'),
 (9, 'c'),
 (9, 'h'),
 (9, 'i'),
 (9, 'b'),
 (9, 'f'),
 (10, 'e'),
 (10, 'a'),
 (10, 'j'),
 (10, 'd'),
 (10, 'g'),
 (10, 'c'),
 (10, 'h'),
 (10, 'i'),
 (10, 'b'),
 (10, 'f'))

10. Filter Vowels in a String:
Given a string, create a tuple containing only the vowels from
the string using tuple comprehension.

In [58]:
string = "aedcbaeioudcbaioueioudcbaeiou"

In [59]:
vowels = tuple(val for val in string.lower() if val in 'aeiou')
vowels

('a',
 'e',
 'a',
 'e',
 'i',
 'o',
 'u',
 'a',
 'i',
 'o',
 'u',
 'e',
 'i',
 'o',
 'u',
 'a',
 'e',
 'i',
 'o',
 'u')